<p id="notice"><%= notice %></p>

<h2><%= @review.display_name %></h2>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Rating:</strong>
  <% @review.stars.times do %>⭐<% end %>
</p>


<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= @review.image %>
</p>

<ul>
  <% @review.comments.each do |comment| %>
    <li>
      <p><%= comment.body %></p>
      <p class="author">by <%= comment.author %> on <%= comment.created_at.to_s(:short) %></p>
      <p>
        <%= link_to "x", review_comment_path(@review, comment), { :method => :delete }  %>
      </p>
    </li>
  <% end %>
</ul>

<%= form_for(@review.comments.new, :url => review_comments_path(@review)) do |f| %>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
